.input-wrapper {
  margin-top: 12px;

  .input-label {
    font-size: 13px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: var(--input-label);
    font-weight: 600;
  }

  .input-field {
    width: 250px;
    border-bottom: 2px solid var(--hr-line-grey);
    color: var(--input-field);
    text-align: center;
  }

  .disabled {
    display: none;
  }

  .email-label {
    justify-content: center;
  }
}
