ion-content {
  --background: var(--coursemap-background-color);
  --padding-bottom: 10px;

  .no-course-msg {
    background: var(--coursemap-no-course-bg-color);
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    font-style: italic;
    color: var(--coursemap-no-course-text-color);
    text-align: center;
  }

  .skeleton-panel-header {
    height: 48px;
    margin-bottom: 5px;

    ion-col {
      background: var(--coursemap-skeleton-bg-color);
      width: 100%;
      -webkit-box-align: center;
      align-items: center;
      display: grid;
      height: 48px;
      box-shadow: 0 1px 3px 0 var(--coursemap-box-shadow);
      grid-template-columns: 1fr 1fr 1fr;

      ion-skeleton-text {
        width: 90%;
      }
    }
  }
}
