.milestone-panel-popup {
  background-color: var(--navigator-pullup-header-txt);
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 110px;
  display: block;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

  .header {
    margin: 8px 16px 0;

    .description {
      width: 100%;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      line-height: 1.2;
      display: flex;
      align-items: center;

      ion-text {
        margin: auto;
        font-size: 14px;
      }
    }

    .destination-change {
      font-size: 11px;
      display: flex;
      align-items: center;
      margin: auto 20px;
    }

    ion-text {
      margin: auto 6px auto auto;
      padding: 3px 0 0;
    }
  }

  .milestone-panel-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr max-content;

    .header-container {
      display: grid;
    }
  }

  .milestone-modal-container {
    border-radius: 16px;
    margin: 8px 16px 0;
    background: var(--milestone-modal-container);

    .button-row {
      padding-top: 3px;
      width: 100%;
      justify-content: space-around;

      .or-text {
        font-size: 11px;
        margin: auto 0;
      }

      .navigator-button-row {
        float: left;
        height: 24px;
        min-height: 24px;
        box-shadow: none;
        --padding-start: 10px;
        --padding-end: 10px;

        .skip-icon {
          font-size: 12px;
          margin: auto;
        }

        &.navigate-button {
          --background: var(--navigate-button-color);
          margin-left: 0;
        }

        &.disabled {
          opacity: 0.6;
        }

        ion-icon {
          margin: auto;
        }

        &.info-button,
        &.lesson-list-button {
          --border-width: 0.5px;
          --border-color: var(--navigator-button-border);
          --background: var(--lesson-list-button-color);
          color: var(--lesson-list-button-text);
        }

        .menu-icon {
          font-size: 12px;
          color: var(--navigate-button-color);
          margin: auto;
        }

        ion-text {
          font-family: var(--sans);
          font-size: 10px;
          text-transform: capitalize;
          text-align: center;
          padding: 5px;

          &.current-grade {
            padding: 5px 0;
          }
        }
      }
    }
  }
}
