.premium-class {
  width: calc(100vw - 95px);
  height: 54vh;
  border-radius: 4px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.07);
  background-color: var(--premium-class-card-bgcolor);
  display: grid;
  grid-template-rows: 50px auto;
  position: relative;
  margin: 15px 0 15px 20px;

  &.class-card-skeleton {
    margin-top: 20px;
  }

  ion-card-header {
    background-color: var(--header-gray);
    overflow: hidden;
    display: grid;
    align-items: center;
    font-size: 12px;

    &.custom-skeleton {
      display: grid;

      .custom-skeleton-grid {
        margin: 0;
        width: 50%;
      }
    }

    .teacher-name {
      width: 100%;
      padding: 0 9px;
      font-size: 12px;
      padding-top: 5px;
      font-weight: 600;
      color: var(--teacher-name-text);
    }

    .class-name {
      text-transform: capitalize;
      width: 65%;
      padding-left: 9px;
      font-size: 16px;
      padding-bottom: 5px;
      color: var(--class-name-text);
    }
  }

  .master-pose-col {
    height: 40px;
    width: 80px;
    border-radius: 0 0 90px 90px;
    background: var(--white);
    margin-left: 70%;
    z-index: 1;
    opacity: .9;
    text-align: center;
    font-size: large;
    display: grid;
    justify-content: center;
    min-height: 76px;
    border-radius: 50%;
    position: absolute;
    right: 18px;
    top: 2px;

    ion-thumbnail {
      height: 48px;
      width: 48px;

      .master-pose-img {
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: var(--master-pose);
      }
    }

    .score-card {
      justify-content: center;
      display: flex;
      cursor: pointer;
      
      .score {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  ion-card-content {
    .header-line {
      width: 100%;
      border-top: solid 1px var(--line-gray);
      margin: 0;
      height: 0;
    }

    .button-section {
      display: flex;
      justify-content: center;
      align-items: center;

      ion-button {
        --background: var(--active-green);
        --border-radius: 20px;
        text-transform: capitalize;
        color: var(--white);
        font-weight: 700;
        width: max-content;
        font-size: 15px;
      }
    }

    .skeleton-grid {
      .class-img-skeleton {
        ion-skeleton-text {
          height: 100%;
        }
      }
    }

    ion-grid {
      height: 100%;
      display: grid;
      grid-template-rows: auto 120px 30px;

      &.public-class-grid {
        grid-template-rows: auto 120px;
      }

      .milestone-row {
        padding: 5px;

        .skeleton-header-text {
          width: 100%;
        }

        .milestone-flag-icon-col {
          display: flex;
          align-items: center;
          justify-content: center;

          .flag-icon {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.8);
            background-image: var(--milestone-flag-white);
          }
        }

        .milestone-col {
          display: grid;
          align-items: center;
          padding-left: 5px;

          .completed-value-col {
            height: 100%;
            display: flex;
            align-items: flex-end;

            .milestone-header-col {
              font-family: var(--sans);
              line-height: 1.33;
              font-weight: bold;
              color: var(--milestone-report-title);
              font-size: 0.9rem;
              display: flex;
              align-items: flex-end;
              width: 100%;
            }

            .completed-value-text {
              padding-left: 4px;
            }
          }

          .progress-bar-col {
            height: 100%;
          }
        }
      }

      .card-img-row {
        display: flex;
        align-items: flex-end;

        .card-img {
          width: 100%;
          height: 100%;
          display: block;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          background-color: var(--card-bg-color);
          position: relative;

          &.has-no-course {
            background-image: var(--default-course-img);
          }
        }
        
        .compentencies-card {
          position: absolute;
          background: var(--white);
          padding: 10px;
          width: 185px;
          right: 0;
          top: 6%;
          color: var(--dark-brown);
          font-size: 0.8rem;

          .skyline-txt {
            cursor: pointer;
            color: var(--light-blue-color);
            text-decoration: underline;
          }
        }
      }

      .class-actions-skeleton {
        display: grid;
        padding: 0 10px;

        .class-action {
          display: flex;
          width: 100%;

          .action-text {
            width: 50%;
          }
        }
      }

      .class-code-container {
        display: flex;
        align-items: center;
        box-shadow: 0 -2px 4px 0 rgb(0 0 0 / 20%);
        border-top: 1px solid var(--border-gray);

        .class-code-wrapper {
          .class-code-label {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            color: var(--label-gray);
            margin: 0 8px 0 12px;
          }

          .class-code {
            font-size: 14px;
            font-weight: bold;
            text-align: right;
            color: var(--label-gray);
            margin: 0 8px 0 12px;
            float: right;
            padding-right: 10px;
          }
        }
      }

      .milestone-report-content {
        padding-right: 18px;
        align-items: flex-start;
        padding-top: 10px;
        padding-bottom: 10px;

        .skeleton-text {
          width: 50%;
          padding-left: 20px;
        }

        .report-category-row {
          width: 100%;
          display: flex;
          align-items: center;
          height: 30px;

          .icon-col {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          &.performance-color {
            &.milestone-grade-range-0-59 {
              color: var(--red);

              ion-col {
                ion-icon {
                  background-color: var(--red);
                }
              }
            }

            &.milestone-grade-range-60-69 {
              color: var(--grade-range-60-69);

              ion-col {
                ion-icon {
                  background-color: var(--grade-range-60-69);
                }
              }
            }

            &.milestone-grade-range-70-79 {
              color: var(--grade-range-70-79);

              ion-col {
                ion-icon {
                  background-color: var(--grade-range-70-79);
                }
              }
            }

            &.milestone-grade-range-80-89 {
              color: var(--grade-range-80-89);

              ion-col {
                ion-icon {
                  background-color: var(--grade-range-80-89);
                }
              }
            }

            &.milestone-grade-range-90-100 {
              color: var(--grade-range-90-100);

              ion-col {
                ion-icon {
                  background-color: var(--grade-range-90-100);
                }
              }
            }
          }

          &.timespent-color {
            color: var(--timespent-text);
          }

          &.lessons-color {
            color: var(--lesson-stat-text);
          }

          .report-category-icon {
            display: flex;
            align-items: center;

            ion-icon {
              font-size: 18px;
            }
          }

          .report-category-text {
            font-family: var(--sans);
            font-size: 0.9rem;
            line-height: 1.33;

            &.score-col {
              display: flex;
              justify-content: flex-end;
              text-align: right;
            }
          }

          .image-icon {
            height: 25px;
            width: 25px;
            display: block;
            background-repeat: no-repeat;
            background-size: contain;

            &.competency-mastered-icon {
              background-image: var(--competencies-mastered-icon);
            }
          }
          
          .flag-icon {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: var(--flag-icon);
            width: 17px;
            height: 17px;
          }
        }
      }
    }
  }
}
