<ion-content class="proficiency-container" [scrollY]="true" [scrollX]="true">
    <proficiency-chart *ngIf="isChartDataLoaded"
    [class]="class"
    [subjects]="subjects"
    [isSkeletonChart]="isLoading"
    [showHeader]="!isLoading"
    [categories]="categories"
    [domainTopicCompetencyMatrixSkeletonData]="domainTopicCompetencyMatrix"
    [domainCoordinatesSkeletonData]="domainCoordinates"
    [frameworkId]="frameworkId"
    [activeSubject]="activeSubject"
    [activeCategory]="activeCategory"
    [fwCompetencies]="fwCompetencies"
    [domainCoordinates]="domainCoordinates"
    [isShowExpandedPopover]="isShowExpandedPopover"
    [showCompetencyInfo]="showCompetencyInfo"
    [showDomainInfo]="showDomainInfo"
    [taxonomyGrades]="taxonomyGrades"
    (selectCategory)="onSelectCategory($event)"
    (selectSubject)="onSelectSubject($event)"
    (selectDomain)="onSelectDomain($event)"
    (closeExpandedPopover)="closeExpandedPopover()"
    (selectTopic)="onSelectTopic($event)"
    (selectLegend)="onSelectLegend()"
    (trackProficiencyViewEvent)="trackProficiencyViewEvent()"
    (trackInspectCompetencyEvent)="trackInspectCompetencyEvent($event)"
    (selectCompetency)="onSelectCompetency($event)"
    [domainTopicCompetencyMatrix]="domainTopicCompetencyMatrix"
    (chartLoded)="chartLoded()"
    [enableNavigatorProgram]="enableNavigatorProgram"
    [isClassProficiency]="true">
  </proficiency-chart>
</ion-content>