<div class="student-learning-map">
  <div class="practice-question">
    <div class="title">{{'PRACTICE_QUESTION' | translate}}</div>
    <div class="no-data">{{'NO_QUESTIONS' | translate}}</div>
  </div>
  <div class="solved-examples">
    <div class="title">{{'SOLVED_EXAMPLE' | translate}}</div>
    <div class="no-data">{{'NO_EXAMPLES' | translate}}</div>
  </div>
  <div class="challenging-questions">
    <div class="title">{{'CHALLENGING_QUESTION' | translate}}</div>
    <div class="no-data">{{'NO_CHALLENGING_QUESTIONS' | translate}}</div>
  </div>
</div>
