<ion-grid class="class-header-bar">
  <ion-row class="header-row">
    <ion-col class="col-close no-padding" (click)="onClickBackButton()">
      <ion-row class="close-button">
        <ion-icon [name]="showBack ? 'arrow-back' : 'close'"></ion-icon>
      </ion-row>
    </ion-col>
    <ion-col class="col-class-title ellipsis">
      <ion-text *ngIf="title" class="class-title ellipsis" tooltip [text]="title">{{title}}</ion-text>
      <ion-skeleton-text *ngIf="!title" class="skeleton-class-title" animated></ion-skeleton-text>
    </ion-col>
    <ion-col class="col-tab notification no-padding" (click)="showNotification($event)" [ngClass]="notificationCount ? 'active' : 'disabled'">
      <ion-row class="tab-icon">
        <ion-icon name="notifications"></ion-icon>
        <ion-text *ngIf="notificationCount">{{ notificationCount }} <span *ngIf="notifications.moreItemsRemaining">+</span></ion-text>
      </ion-row>
    </ion-col>
    <ion-col class="col-tab suggestion no-padding active" (click)="showSuggestion($event)">
      <ion-row class="tab-icon explore-icon">
        <i class="material-icons">explore</i>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
