<ion-content overflow-scroll="true" class="milestone-page" [scrollEvents]="true" (ionScroll)="onScroll()">
  <ng-container *ngIf="isLoaded; else skeletonView">
    <ng-container *ngIf="milestones && milestones?.length; else classNotReady">
      <milestone-accordion [tenantSettings]="tenantSettings" [isToggleRescopedInfo]="isToggleRescopedInfo" [disableDefaultLessonToggle]="disableDefaultLessonToggle" (openMilestoneReport)="onOpenMilestoneReport($event)" [isHideInfo]="isHideInfo" [frameworkCode]="fwCode" [classId]="classId" (scrollToCollection)="scrollToCollection($event)" [currentLocation]="currentLocation" [courseId]="courseId" [milestones]="milestones" [subjectCode]="subjectCode">
      </milestone-accordion>
    </ng-container>
    <ng-template #classNotReady>
      <ion-grid *ngIf="isLoaded && !isPublicClass; else nothingToStudy" class="class-not-ready-container">
        <ion-text>{{'CLASS_NOT_READY' | translate }}</ion-text>
      </ion-grid>
    </ng-template>
  </ng-container>
</ion-content>
<ng-template #nothingToStudy>
  <ion-row class="no-milestone-view">
    <ion-text>{{ 'NOTHING_TO_STUDY_MSG' | translate }}</ion-text>
  </ion-row>
</ng-template>
<ng-template #skeletonView>
  <ion-row class="skeleton-panel-header" *ngFor="let item of [].constructor(skeletonViewCount)">
    <ion-col class="horiz-vert-center">
      <ion-skeleton-text animated class="skeleton-header-text" *ngFor="let item of [].constructor(skeletonViewCount)"></ion-skeleton-text>
    </ion-col>
  </ion-row>
</ng-template>
