.study-player-header {
  ion-toolbar {
    --color: var(--white);
    --background: var(--player-header-bg);
    display: flex;

    .back-button {
      width: 49px;
      display: flex;
      justify-content: center;
    }

    .competency-completion-stats {
      width: calc(100% - 49px);
    }
  }
}

ion-content {
  --background: var(--player-content-bg);
}
