:root {
  --language-icon: url("/assets/images/icons/language.png");
  --reaction-one-inactive: url("/assets/images/icons/icon/1-default.svg");
  --reaction-two-inactive: url("/assets/images/icons/icon/2-default.svg");
  --reaction-three-inactive: url("/assets/images/icons/icon/3-default.svg");
  --reaction-four-inactive: url("/assets/images/icons/icon/4-default.svg");
  --reaction-five-inactive: url("/assets/images/icons/icon/5-default.svg");
  --compentency-img: url("/assets/images/gooru-edu-rights-badge.png");
  --oa-pdf-icon: url("/assets/images/icons/file-pdf-solid.svg");
  --oa-word-icon: url("/assets/images/icons/file-word-solid.svg");
  --oa-image-icon: url("/assets/images/icons/file-image-solid.svg");
  --oa-ppt-icon: url("/assets/images/icons/file-powerpoint-solid.svg");
  --gooru-logo: url("/assets/images/icons/gooru-logo.svg");
  --dca-icon: url("assets/images/icons/dca.svg");
  --proficiency-icon: url("assets/images/icons/proficiency.svg");
  --collection: url("assets/images/icons/collection.svg");
  --assessment: url("assets/images/icons/assessment.svg");
  --arrow-down-icon: url("assets/images/icons/drop-down-arrow.svg");
  --google-icon: url("assets/images/icons/google-icon.svg");
  --apple-icon: url("assets/images/icons/apple-icon.svg");
  --offline: url("assets/images/icons/offline-activity-icon.svg");
  --question: url("assets/images/icons/question.svg");
  --master-pose: url("assets/images/icons/master-pose.png");
  --share: url("assets/images/share.png");
  --dca-resource: url("assets/images/icons/resource.svg");
  --video-resource-icon: url("assets/images/icons/video-resource.svg");
  --text-resource-icon: url("assets/images/icons/text-resource-dark.svg");
  --webpage-resource-icon: url("assets/images/icons/webpage-resource.svg");
  --image-resource-icon: url("assets/images/icons/image-resource.svg");
  --interactive-resource-icon: url("assets/images/icons/interactive-resource.svg");
  --milestone-bg-image: url("assets/images/milestone-bg.png");
  --performance-score-fill-bg: url("assets/images/combined-shape.svg");
  --radio-btn: url("assets/images/icons/radio-btn.svg");
  --tick: url("assets/images/icons/correct.svg");
  --wrong: url("assets/images/icons/wrong.svg");
  --reaction1: url("assets/images/icons/emoji/reaction-1.svg");
  --reaction2: url("assets/images/icons/emoji/reaction-2.svg");
  --reaction3: url("assets/images/icons/emoji/reaction-3.svg");
  --reaction4: url("assets/images/icons/emoji/reaction-4.svg");
  --reaction5: url("assets/images/icons/emoji/reaction-5.svg");
  --feature-lesson-icon: url("assets/images/icons/featured-icon.svg");
  --portfolio-filter-icon: url("assets/images/icons/filter-icon.svg");
  --grade-icon: url("assets/images/icons/grade.svg");
  --reroute-suggestion-img: url("assets/images/reroute-suggestion.png");
  --show-mastery-img: url("assets/images/show-mastery.png");
  --kangaroo-img: url("assets/images/kangaroo.png");
  --default-audio-resource-img: url("assets/images/default-audio-resource.png");
  --default-image-resource-img: url("assets/images/default-image-resource.png");
  --default-interactive-resource-img: url("assets/images/default-interactive-resource.png");
  --default-text-resource-img: url("assets/images/default-text-resource.png");
  --default-video-resource-img: url("assets/images/default-video-resource.png");
  --default-website-resource-img: url("assets/images/default-website-resource.png");
  --default-audio-resource-icon: url("assets/images/icons/resource-icons/audio-resource.svg");
  --default-image-resource-icon: url("assets/images/icons/resource-icons/image-resource.svg");
  --default-interactive-resource-icon: url("assets/images/icons/resource-icons/interactive-resource.svg");
  --default-text-resource-icon: url("assets/images/icons/resource-icons/text-resource.svg");
  --default-video-resource-icon: url("assets/images/icons/resource-icons/video-resource.svg");
  --default-webpage-resource-icon: url("assets/images/icons/resource-icons/webpage-resource.svg");
  --default-course-img: url("assets/images/default-course.png");
  --star-img: url("assets/images/icons/star.svg");
  --navigate-img: url("assets/images/icons/navigate.svg");
  --navmath-logo: url("/assets/images/navmath-logo.png");
  --destination-img: url("assets/images/icons/destination.svg");
  --destination-red-img: url("assets/images/icons/destination-red.svg");
  --proficiency: url("assets/images/icons/add_proficiency.svg");
  --proficiency-icon-without-bg: url("assets/images/icons/proficiency-icon-without-bg.svg");
  --mastered-competency: url("assets/images/mastered-competency.png");
  --place: url("assets/images/place.png");
  --milestone-img: url("assets/images/milestone-icon.svg");
  --course: url("assets/images/course.svg");
  --competency-container-icon: url("assets/images/icons/proficiency-icon.svg");
  --milestone-flag-white: url("assets/images/icons/milestone-flag-green.svg");
  --tick-icon: url("assets/images/icons/tick-icon.svg");
  --correct-answer-icon: url("assets/images/icons/correct-answer.svg");
  --partial-correct-icon: url("assets/images/icons/done-green.svg");
  --delete-icon: url("assets/images/icons/delete.svg");
  --preview-icon: url("assets/images/icons/preview-dark.svg");
  --forward-icon: url("assets/images/icons/forward-dark.svg");
  --diagnostic-route-failed-img: url("/assets/images/icons/diagnostic-failed.png");
  --map-outline-icon: url("assets/images/icons/map-outline.svg");
  /*menu icons*/
  --menu-journey: url("assets/images/icons/menu-icons/journey.svg");
  --menu-profile: url("assets/images/icons/menu-icons/profile.svg");
  --close-icon: url("assets/images/icons/close.svg");
  --mastered-img: url("assets/images/mastered-icon.svg");
  --lesson-blue-img: url("assets/images/lesson-blue.svg");
  --assessment-dark-blue-img: url("assets/images/assessment-dark-blue.svg");
  --flag-icon: url("assets/images/icons/flag-icon.png");
}
