/** Ionic CSS Variables **/
:root {
  /** color **/
  --question-submit-btn-color: #00abdf;
  --oa-submission-header-color: #3e5e67;
  --curious-blue: #1c79dd;
  --dodger-reblue: #3880ff;
  --oa-file-border-color: #bbb;
  --oa-file-color: #0072bc;
  --rubric-grade-score: #febd27;
  --grade-radio-checked: #bbb;
  --grade-radio-color: #484343;
  --grade-category-layer: #2e5d66;
  --grade-level-rubric-font: #37424b;
  --grade-level-rubric: #5d666f;
  --rubric-active-tab: #0097f7;
  --grade-category-desc: #2a333a;
  --point-color: #008000;
  --grade-category: #4b8e4a;
  --rubric-info: #35424b;
  --rubric-background-color: #395d66;
  --date-picker-selected-date-color: #3486f7;
  --time-spent-color: #4e5e68;
  --ca-background: #f9f9f9;
  --arrow-color: #515e67;
  --dark-300: #4e5e67;
  --dark-500: #2f4149;
  --play-button: #4b9741;
  --accordion-header-text: #29322a;
  --nav-logo-background-gray: #fafafa;
  --grade-range-90-100: #4b9740;
  --grade-range-80-89: #a8c99c;
  --grade-range-70-79: #faba36;
  --grade-range-60-69: #ed8e36;
  --score-range-0-59: #f0c0be;
  --score-range-90-100: #b2eaaa;
  --score-range-80-89: #d6d9d5;
  --score-range-70-79: #f4cb775e;
  --score-range-60-69: #f6d2b0;
  --white: #ffffff;
  --navy-blue: #0079c0;
  --black: #000000;
  --green: #4c9935;
  --grey: #8f8e94;
  --tundora: #4a4a4a;
  --haveloc-blue: #4a8cdb;
  --hr-line-grey: #efeff4;
  --red: #f46360;
  --outer-space: #29323a;
  --mini-shaft: #212121;
  --dodger-blue: #3893ff;
  --fiord: #415d66;
  --dusty-gray: rgba(151, 151, 151, 0.5);
  --limed-spruce: #37424b;
  --submarine: #b8bfc4;
  --line-gray: #979797;
  --header-gray: #fbfbfb;
  --label-gray: #35424a;
  --light-black: #202e32;
  --border-black: #e8e5e5;
  --transparent: transparent;
  --porcelain: #ebeced;
  --dark-400: #37424b;
  --sea-green: #2f9e4b;
  --white-smoke: #f1f1f1;
  --summer-sky: #1aa9eb;
  --dark-blue: #0072bc;
  --mercury: #e9e9e9;
  --light-white: #f2f2f2;
  --iron: #dbdfe1;
  --athens-gray: #f2f2f3;
  --tan-hide: #f98e4e;
  --half-white: rgba(255, 255, 255, 0.9);
  --cornflower-blue: #4990e2;
  --silver: #b9b9b9;
  --dodger-blue: #2196f3;
  --disabled: rgba(204, 204, 204, .8);
  --carrot-orange: #ef8f2f;
  --light-grayish: #fbfcfc;
  --light-grey: #d8d8d8;
  --title-color: #666666;
  --star-icon-field-color: #0072bc;
  --button-light-gray: #b8bfc4;
  --light-blue-color: #0072bc;
  --gradient-light-blue: #00abdf;
  --pastel-green: #6de55c;
  --trout: #505a62;
  --fern: #5cb055;
  --gray-300: #e7e8e9;
  --brown-dark: #dcdfe0;
  --dark-blue-color: #1d7dc2;
  --line-brown: #8fd383;
  --slide-brown: #cacaca;
  --black-400: #36424b;
  --border-gray: #ccc;
  --dark-brown: #535e67;
  --tab-selected-orange: #ed8e36;
  --line-gray-color: #f5f5f5;
  --light-blue: #dbe9f9;
  --gray-400: #fffbfb;
  --regent-st-blue: #afd8ea;
  --raven-gray: #717477;
  --dark-green: #666666;
  --lime: #3e4952;
  --dim-gray: #5d5d5d;
  --fruit-salad: #4b9741;
  --lime-green: #cdd2d6;
  --active-green: #4b9740;
  --splash-orange: #eb913e;
  --blue-200: #99c5e6;
  --light-green: #37bf2e;
  --dodger-400-blue: #4e5e68;
  --grey-with-opacity: rgba(143, 142, 148, 0.3);
  --active-grey: rgba(0, 0, 0, .04);
  --blue-400: #007ad9;
  --gray-200: #d1c9c9;
  --green-400: #539846;
  --audio-color: #778087;
  --transparent-grey: #e8e9ea;
  --sky-blue-with-opacity: #65bbe3;
  --black-200: #333333;
  --gray-light: #E0E0E0;
  --disable-grey: #c5c5c5;
  --brick-red: #d13447;
  --amber: #ffbf00;
  --astronaut: #263672;
  --black-opacity-5: rgba(0, 0, 0, 0.5);
  --black-opacity-2: rgba(0, 0, 0, 0.2);
  --black-opacity-3: rgba(0, 0, 0, 0.3);
  --jewel: #188038;
  --summer-green: #90C29F;
  --william: #3e5e67;
  --pine-green: #00796b;
  --very-light-grey: #cecece;
  --bright-orange: #f8ba41;
  --hint-of-red: #f2ebeb;
  --black-with-rgb: rgba(255, 255, 255, 0);
  --black-300: #ccd1d6;
  --dark-gray: #a6a6a6;
  --gray-500: #f7f7f7;
  --blue-300: #6da5e6;
  --black-light: #007ec1;
  --blue-500: #5c9be4;
  --black-500: #cacdcf;
  --gray-dark: #e7e7e7;
  --gray-100: #c8c8c8;
  --gainsboro: #dfdfdf;
  --picton-blue: #5d93d9;
  --cello: #3f4b56;
  --gray-smoke: #e8e5db;
  --gradient-black: #888080;
  --arsenic: #3a444d;
  --red-dark: #ba0606;
  --grey-suit: #797979;
  --green-200: #2bcc8d;
  --explore-orange: #f88c49;
  --sea-color: #525ee9;
  --purple: #9b59b6;
  --blue-400: #3498db;
  --red-400: #da1111;
  --white-200: #f1f3f7;
  --dark-gray-300: #9a9b9c;
  --sky-blue-400: #42b8ef;
  --in-progress: #84b7dd;
  --period-gray: #636e71;
  --time-spent: #323232;
  --iris-blue: #00abdf;
  --lochmara: #007ad9;
  --lochmara-dark: #0072bc;
  --cornflower-blue: #4b8fe2;
  --pattens-blue: #dddfe1;
  --attachment: #03a9f4;
  --reroute: #cec3c3; 
  --program: #b3b3b3cc;
  --seashell: #f0f0f0;
  /** variables **/

  /** SERP variables **/
  --progres-bar-bg: var(--sky-blue-400);
  --say-out-loud-wave: var(--purple);
  --say-out-loud-wave-2: var(--blue-400);
  --say-out-loud-answer-text: var(--white);
  --say-out-loud-active-answer: var(--light-grey);
  --say-out-loud-play-icon: var(--curious-blue);
  --say-out-loud-mic: var(--red-400);
  --serp-answer-text: var(--white);
  --sorting-container-color: var(--white-200);
  --say-out-audio-text: var(--light-grey);
  --say-out-play-icons: var(--dark-400);
  --say-out-animation-bar: var(--cornflower-blue);
  --say-out-uploading-row: var(--white);
  --audio-payer-progress-filling: var(--dark-gray-300);
  --audio-payer-progress-pointer: var(--dark-blue);
  --serp-pick-and-choose-text: var(--white);

  --journey-tab-border: var(--white);
  --student-home-tabs: var(--cornflower-blue);
  --driver-close-btn: var(--white);
  --login-header-back-bth: var(--dark-400);
  --login-header-color: var(--outer-space);
  --fullscreen-close-txt: var(--white);
  --fullscreen-close-bg: var(--black);
  --class-activity-border: var(--border-gray);
  --class-performance-border: var(--white);
  --account-exists-btn: var(--white);
  --account-exists-popup-bg: var(--white);
  --email-exists-popup-bg: var(--white);
  --email-exists-btn: var(--white);
  --journey-report-txt: var(--dark-400);
  --journey-report-container: var(--white);
  --milestone-report-time: var(--submarine);
  --lesson-point-color: var(--white);
  --milestone-progress-bar: var(--gainsboro);
  --milestone-progress-bar-bg: var(--summer-sky);
  --milestone-report-lesson: var(--summer-sky);
  --milestone-report-performance: var(--tab-selected-orange);
  --total-time-color: var(--dark-400);
  --milestone-report-title: var(--green-200);
  --legend-popover-bg: var(--black);
  --legend-popover-text: var(--white);
  --page-loader-color: var(--cornflower-blue);
  --user-subject-chart-line: var(--gray-200);
  --popover-icon-bg: var(--green-400);
  --continue-menu-color: var(--white);
  --course-competency-stats: var(--white);
  --continue-course-bg: var(--dark-400);
  --popover-bg: var(--white);
  --youtube-video-bg: var(--black);
  --competency-container: var(--border-gray);
  --milestone-flag-color: var(--dark-blue);
  --milestone-destination-color: var(--red-dark);
  --milestone-title-color: var(--dark-400);
  --milestone-text-color: var(--dark-300);
  --milestone-performance-text: var(--arsenic);
  --milestone-progress-bar-bgcolor: var(--very-light-grey);
  --milestone-progress-bar-color: var(--grade-range-60-69);
  --destination-gradient-first-half: var(--has-course-linear-first-half);
  --destination-gradient-second-half: var(--gradient-black);
  --menu-icon-color: var(--white);
  --journey-thumbnail-col-bg: var(--white);
  --no-performance-bg: var(--portfolio-timespent-color);
  --no-performance-color: var(--white);
  --milestone-gps-map-bg: var(--gray-smoke);
  --milestone-modal-container: var(--white);
  --grade-title-row: var(--dark-400);
  --navigator-button-border: var(--gray-200);
  --navigate-button-color: var(--oa-file-color);
  --lesson-list-button-color: var(--white);
  --lesson-list-button-text: var(--dark-400);
  --milestone-info-border: var(--metadata-panel-header-color);
  --user-subject-border: var(--metadata-panel-header-color);
  --navigator-header-bg: var(--cornflower-blue);
  --navigator-header-color: var(--white);
  --student-home-header-color: var(--white);
  --student-home-header-color: var(--white);
  --navigator-pullup-header-txt: var(--white);
  --navigator-direction-txt: var(--white);
  --navigator-direction-bg: var(--dark-blue);
  --destination-performance-txt: var(--bright-orange);
  --student-home-bg: var(--light-black);
  --destination-header-bg: var(--gray-100);
  --destination-bg: var(--header-gray);
  --join-class-btn: var(--question-submit-btn-color);
  --join-class-btn-txt: var(--dark-blue);
  --destination-title: var(--gray-dark);
  --destination-img-bg: var(--black-500);
  --compentency-stats-txt: var(--white);
  --compentency-stats-bg: var(--cornflower-blue);
  --classroom-txt: var(--white);
  --student-home-header-bg: var(--cornflower-blue);
  --classroom-location-shadow: var(--black-light);
  --classroom-location-bg: var(--blue-300);
  --user-subject-mastered-count: var(--black);
  --user-subject-count: var(--gray-500);
  --user-subject-chart-view-bg: var(--white);
  --milestone-view-text-color: var(--dark-400);
  --milestone-view-bg-color: var(--white);
  --suggestion-content-title: var(--white);
  --suggestion-content-border: var(--dark-400);
  --related-content-icon-color: var(--dark-400);
  --related-content-image-bg: var(--black);
  --related-content-color: var(--white);
  --proficiency-mask-color: var(--white);
  --player-next-collection-title-bg: var(--black-opacity-5);
  --player-next-collection-desc: var(--dark-400);
  --grade-line-color: var(--line-brown);
  --skyline-color: var(--white);
  --domain-info-number: var(--black);
  --topic-list-name-color: var(--summer-sky);
  --topic-list-color: var(--border-gray);
  --competency-container-title: var(--dark-300);
  --domains-seq-list: var(--black-300);
  --user-info-label: var(--dark-300);
  --user-info-bg: var(--title-color);
  --user-details-bg: var(--white);
  --player-confirm-txt-color: var(--white);
  --proficiency-dropdown-color: var(--dark-400);
  --taxonomy-list-font-color: var(--white);
  --taxonomy-list-color: var(--dark-400);
  --domain-chart-border: var(--header-border);
  --domain-chart-mastered: var(--cornflower-blue);
  --domain-chart-in-progress: var(--blue-200);
  --domain-chart-not-started: var(--light-grey);
  --nav-side-bar-color: var(--white);
  --nav-side-bar-bg-color: var(--gray-light);
  --expanded-view-popover-color: var(--white);
  --expanded-view-popover: var(--black-200);
  --home-tab-text-color: var(--dim-gray);
  --class-activity-icon-color: var(--dark-400);
  --offline-activity-url-color: var(--dark-400);
  --offline-activity-task-color: var(--white);
  --offline-activity-bg-color: var(--white);
  --about-me-tick-icon-gray: var(--gray-200);
  --about-me-tick-icon-green: var(--green);
  --related-content-tab-color: var(--header-border);
  --related-content-title-color: var(--next-lesson-txt-color);
  --related-content-resourse-title-color: var(--black);
  --related-content-bg-color: var(--white);
  --youtube-video-load-text: var(--white);
  --portfolio-border: var(--porcelain);
  --suggestion-border: var(--porcelain);
  --inspect-competency-header-border: var(--rubric-info);
  --forgot-password-submit-color: var(--white);
  --forgot-password-header-color: var(--outer-space);
  --forgot-password-submit-bg-color: var(--fruit-salad);
  --forgot-password-close-color: var(--dark-brown);
  --forgot-password-error-color: var(--red);
  --login-content-color: var(--white);
  --suggestion-panel-container-color: var(--line-gray-color);
  --reroute-suggestion-bg-color: var(--white);
  --reroute-suggestion-assessment-txt-color: var(--black-400);
  --reroute-suggestion-header-title-color: var(--green-400);
  --compentency-card-color: var(--border-gray);
  --collection-title-color: var(--dark-400);
  --legend-title-color: var(--dark-400);
  --proficiency-competency-title: var(--dark-400);
  --highlight-competency-color: var(--white);
  --portfolio-no-data-color: var(--white);
  --portfolio-filter-content-color: var(--lime);
  --portfolio-apply-filter-bg-color: var(--dark-400);
  --portfolio-calendar-done-font: var(--white);
  --portfolio-calendar-done-text: var(--dark-blue);
  --portfolio-calendar-done: var(--question-submit-btn-color);
  --portfolio-calendar-text: var(--blue-400);
  --portfolio-calendar-line: var(--grey);
  --portfolio-font-color: var(--black);
  --portfolio-tabs-active-color: var(--rubric-active-tab);
  --portfolio-tabs-content: var(--rubric-active-tab);
  --portfolio-tabs-color: var(--white);
  --proficiency-legends-box: var(--black);
  --proficiency-legends-mastered: var(--dark-blue-color);
  --proficiency-legends-show-gut: var(--dark-400);
  --proficiency-legends-not-started: var(--light-grey);
  --proficiency-legends-in-progress: var(--blue-200);
  --proficiency-legends-grade-line: var(--light-green);
  --proficiency-legends-sky-line: var(--white);
  --katex-color: var(--white);
  --splash-bg-color: var(--splash-orange);
  --youtube-player-icon-color: var(--white);
  --domain-seq-color: var(--light-blue);
  --domain-compentency-desc: var(--white);
  --domain-compentency-background: var(--white);
  --domain-compentency-title: var(--limed-spruce);
  --domain-name-color: var(--summer-sky);
  --domain-border-color: var(--line-gray);
  --proficiency-expand-chart-color: var(--summer-sky);
  --show-more: var(--dark-brown);
  --portfolio-no-text-color: var(--limed-spruce);
  --portfolio-show-more-color: var(--dark-brown);
  --portfolio-content-background-color: var(--white);
  --portfolio-timespent-color: var(--submarine);
  --portfolio-text-color: var(--dark-400);
  --portfolio-content-color: var(--black);
  --portfolio-options-color: var(--white);
  --compentency-content-border-color: var(--line-gray);
  --compentency-content-font-color: var(--outer-space);
  --suggestion-panel-count-color: var(--black);
  --suggestion-panel-icon: var(--tan-hide);
  --suggestion-panel-boder: var(--border-gray);
  --suggestion-panel-action-font: var(--tan-hide);
  --suggestion-panel-title: var(--carrot-orange);
  --suggestion-panel-slider-option: var(--white);
  --suggestion-panel-slider: var(--gray-400);
  --student-learning-heading-color: var(--black-400);
  --student-learning-no-data: var(--limed-spruce);
  --student-learning-map-color: var(--white);
  --compentency-border-color: var(--line-gray);
  --compentency-name-color: var(--limed-spruce);
  --compentency-report-container-color: var(--outer-space);
  --proficiency-status-color: var(--gray-300);
  --proficiency-no-competency-bottom: var(--line-black);
  --proficiency-no-competency: var(--dark-400);
  --dia-proficiency-competency-status-0: var(--light-grey);
  --proficiency-competency-status-1: var(--summer-sky);
  --proficiency-competency-status-0: var(--brown-dark);
  --proficiency-competency-status-3: var(--active-competency-map);
  --active-competency-map: var(--dark-blue-color);
  --proficiency-gradeline-group: var(--grade-line);
  --signature-content-tab-active: var(--rubric-active-tab);
  --signature-content-tab-font: var(--black);
  --metadata-panel-header-color: var(--line-gray);
  --metadata-header-color: var(--black-400);
  --metadata-code-color: var(--limed-spruce);
  --metadata-text-color: var(--prequisite-competency-color);
  --metadata-name-color: var(--white);
  --grade-line: var(--line-brown);
  --proficiency-competency-cell: var(--white);
  --proficiency-background-color: var(--white);
  --learner-identity-proficiency-background-color: var(--white);
  --signin-btn-bg-color: var(--green);
  --signin-text: var(--haveloc-blue);
  --forgot-pwd-text: var(--haveloc-blue);
  --done-btn-color: var(--haveloc-blue);
  --link-text: var(--tundora);
  --domain-text: var(--green);
  --continue-to-text: var(--mini-shaft);
  --sign-in-title-text: var(--outer-space);
  --input-field: var(--tundora);
  --input-label: var(--grey);
  --ion-label: var(--limed-spruce);
  --google-signin-bg-color: var(--dodger-blue);
  --apple-signin-bg-color: var(--black);
  --apple-signin-color: var(--white);
  --categories-facet-header: var(--fiord);
  --accordion-border: var(--dusty-gray);
  --skip-text: var(--haveloc-blue);
  --save-btn-bg-color: var(--submarine);
  --error-text: var(--red);
  --close-icon-border: var(--porcelain);
  --compentency-button-bg: var(--summer-sky);
  --classroom-title: var(--fiord);
  --header-border: var(--porcelain);
  --ion-color-dark: var(--dark-400);
  --header-border-bottom: var(--line-gray);
  --tab-selected-blue: var(--summer-sky);
  --tab-not-selected: var(--white-smoke);
  --lesson-list-header-bg: var(--white);
  --lesson-inactive-icon-color: var(--limed-spruce);
  --lesson-active-icon-color: var(--dark-blue);
  --app-background: var(--light-white);
  --grading-no-score-bg: var(--dodger-400-blue);
  --grading-no-score-color: var(--white);
  /** Milestone **/
  --milestone-panel-bg: var(--dark-blue);
  --milstone-text-color: var(--white);
  --next-lesson-icon-color: var(--dark-400);
  --next-lesson-txt-color: var(--black-400);
  --milestone-lesson-text-color: var(--dark-400);
  --milestone-toggle-icon-color: var(--dark-300);
  --milestone-score-color: var(--white);
  --milestone-collection-score: var(--border-gray);
  --milestone-border-color: var(--border-gray);
  --milestone-no-score: var(--iron);
  --milestone-no-score-text: var(--dark-400);
  --milestone-play-icon-color: var(--dark-blue);
  --milestone-timespent-score-color: var(--tundora);
  --milestone-bg: var(--light-white);
  --milestone-lesson-panel-bg-color: var(--white);
  --header-side-border: var(--athens-gray);
  --inactive-bg: var(--dark-400);
  --inactive-icon: var(--white);
  --suggested-collection: var(--tan-hide);
  --last-played-collection-color: var(--dark-blue);
  --route0-default: var(--carrot-orange);
  --ca-panel-background-color: var(--white);
  --ca-calendar-bg: var(--white);
  --ca-calendar-border: var(--border-gray);
  --ca-border: var(--porcelain);
  --ca-count-color: var(--white);
  --active-color: var(--dodger-blue);
  --date-label-color: var(--dark-300);
  --suggested-icon-color: var(--carrot-orange);
  --highlight-color: var(--dark-blue);
  --milestone-no-score-bg: var(--dodger-400-blue);
  --milestone-no-score-color: var(--white);
  /** Player **/
  --player-header-bg: var(--cornflower-blue);
  --player-content-bg: var(--dark-400);
  --player-resource-icon-color: var(--submarine);
  --player-content-title-color: var(--white);
  --player-content-title-text-color: var(--dark-400);
  --player-content-description-color: var(--white);
  --player-content-border-color: var(--submarine);
  --player-play-button-color: var(--cornflower-blue);
  --player-answer-border-color: var(--light-grayish);
  --player-answer-color: var(--white);
  --hot-spot-answer-selected-color: var(--dark-blue);
  --player-read-btn: var(--white);
  --player-description-read-container: var(--white);
  --resource-submit-btn-color: var(--curious-blue);
  --resource-linear-color: var(--dodger-reblue);
  --player-question-answered-bg: var(--white);
  --player-question-answered-font: var(--dark-400);
  --collection-body-border-color: var(--grey);
  --attempt-border-color: var(--active-grey);
  --oa-task-default-color: var(--white);
  /** Reroute **/
  --reroute-suggestion-header: var(--carrot-orange);
  --reroute-suggestion-header-title: var(--white);
  --reroute-suggestion-bg-color: var(--white);
  --reroute-suggestion-play-color: var(--dark-blue);
  /** Next collection **/
  --next-collection-play-color: var(--dark-blue);
  --next-collection-bg-color: var(--white);
  /** Taxonomy**/
  --taxonomy-bg-color: var(--white);
  --taxonomy-text-color: var(--dark-400);
  --taxonomy-border-color: var(--grey);
  /** Performance summary report **/
  --assessment-summary-report-text-color: var(--white);
  --assessment-summary-report-label-color: var(--outer-space);
  --collection-summary-report-text-color: var(--dark-400);
  --collection-summary-report-bg-color: var(--submarine);
  --summary-report-bg-color: var(--white);
  --correct-answer: var(--pastel-green);
  --not-attend-answer: rgba(251, 252, 252, 0.5);
  --wrong-answer: var(--red);
  --not-answer-text: rgba(255, 255, 255, 0.35);
  --correct-answer-not-answered-border: var(--light-grayish);
  --correct-answer-not-answered: rgba(251, 252, 252, 0.5);
  --answer-image-icon-bg: rgba(0, 0, 0, 0.5);
  --report-grade-not-content-bg: var(--grey);
  --report-toggle-icon: var(--fern);
  --read-font: var(--cornflower-blue);
  --timespent-icon-color: var(--white);
  --collection-default: var(--dark-400);
  --collection-report-skeleton-bg: var(--white);
  --external-resource-preview-button: var(--cornflower-blue);
  --pull-up-bg: var(--dark-400);
  --offline-activity-performance-color: var(--active-green);
  --attempt-no-score-bg: var(--dodger-400-blue);
  --attempt-list-active-bg: rgba(0, 0, 0, .04);
  --attempt-list-bg: var(--white);
  /** Feedback **/
  --feedback-bg-color: var(--white);
  --feedback-border-color: var(--athens-gray);
  --feedback-submit-color: var(--dark-blue);
  --feedback-skip-color: var(--dark-400);
  --feedback-star-rating: var(--light-blue-color);
  --feedback-completed-color: var(--green);
  --feedback-line-gray: var(--line-gray);
  /** External collection **/
  --external-collection-bg-color: var(--white);
  --external-collection-label-color: var(--dark-400);
  --external-collection-play-color: var(--light-blue-color);
  --external-collection-border-color: var(--grey);
  /* class navbar */
  --notification-active: var(--summer-sky);
  --public-performance-bg-color: var(--green-400);
  --public-performance-text-color: var(--white);
  --public-compentency-bg-color: var(--summer-sky);
  --public-compentency-text-color: var(--white);
  --inactive-tab-bg-color: var(--disable-grey);
  --inactive-tab-text-color: var(--dark-400);
  /*notification*/
  --notification-background: var(--white);
  --notification-icon-active: var(--summer-sky);
  --notification-inactive: var(--limed-spruce);
  --notification-title-color: var(--dark-400);
  --notification-arrow-icon: var(--dark-400);
  --notification-play-icon: var(--dark-blue);
  /** Suggestion **/
  --suggestion-bg-color: var(--white);
  --suggestion-color: var(--white);
  --suggestion-button-color: var(--dark-400);
  --suggestion-border-color: var(--athens-gray);
  --suggestion-message-color: var(--dark-green);
  /** Diagnostic **/
  --diagnostic-header-color: var(--dark-400);
  --diagnostic-header-title-color: var(--fiord);
  --diagnostic-text-color: var(--dark-500);
  --diagnostic-btn-bg-color: var(--summer-sky);
  --diagnostic-btn-color: var(--white);
  --diagnostic-profdirection-text-color: var(--white);
  --diagnostic-profdirection-color: var(--dark-500);
  --diagnostic-navigate-grade-color: var(--haveloc-blue);
  --diagnostic-navigate-btn-color: var(--haveloc-blue);
  --backdrop: var(--black);
  /** Profile **/
  --profile-color: var(--white);
  --profile-bg-color: var(--dark-400);
  /** Profile Portfolio **/
  --portfolio-bg-color: var(--dark-400);
  --portfolio-border-color: var(--white-smoke);
  /** Profile following **/
  --following-color: var(--white);
  --following-bg-color: var(--dark-400);
  --following-border-color: var(--white-smoke);
  /** Preferences **/
  --preferences-color: var(--white);
  --preferences-bg-color: var(--dark-400);
  --preferences-border-color: var(--athens-gray);
  --portfolio-search-icon-color: var(--raven-gray);
  --portfolio-title-color: var(--dark-green);
  --portfolio-background-color: var(--lime);
  --following-background-color: var(--lime);
  --following-search-icon-color: var(--raven-gray);
  --profile-header-color: var(--fiord);
  --learner-identity-header-color: var(--fiord);
  --profile-text-color: var(--dim-gray);
  --profile-line-gray: var(--line-gray);
  --followers-button-color: var(--fruit-salad);
  --following-button-color: var(--lime-green);
  --preferences-category-bg-color: var(--haveloc-blue);
  --following-message-color: var(--dark-green);
  /*Route0*/
  --route0-pending-bg: var(--white);
  --route0-dropdown-icon-color: var(--white);
  /*featured course*/
  --feature-course-color: var(--outer-space);
  --feature-bg-color: var(--white);
  --feature-card-bg-color: var(--header-gray);
  --feature-sub-course-color: var(--limed-spruce);
  --feature-line-gray: var(--line-gray);
  --feature-more-button: var(--submarine);
  --grade-select-ng-color: var(--header-gray);
  /* left side drawer */
  --language-text-color: var(--limed-spruce);
  /* About me */
  --about-me-title: var(--dark-400);
  --about-me-input: var(--line-gray);
  /*featured course*/
  --fcourse-title-color: var(--limed-spruce);
  --fcourse-desc-text-color: var(--dark-400);
  --fcourse-icon-color: var(--submarine);
  --collabarator-bg-color: var(--dark-400);
  --choose-level-background: var(--summer-sky);
  --choose-level-text-color: var(--transparent-grey);
  --level-list-bg-color: var(--sky-blue-with-opacity);
  --level-list-text-color: var(--limed-spruce);
  --active-list-text-color: var(--white);
  --prompt-bg-color: var(--white);
  --no-featured-course-text-color: var(--white);
  --no-class-text-color: var(--white);
  /**confetti **/
  --confetti-color-1: var(--brick-red);
  --confetti-color-2: var(--amber);
  --confetti-color-3: var(--astronaut);
  /**video conference alert */
  --header-box-shadow: var(--black-opacity-2);
  --header-text-color: var(--william);
  --link-border-color: var(--jewel);
  --link-text-color: var(--white);
  --link-button-bg: var(--pine-green);
  /** classroom card */
  --card-bg-color: var(--white);
  --class-name-color: var(--limed-spruce);
  --icon-color: var(--white);
  --domain-bg-color: var(--summer-sky);
  --domain-text-color: var(--black);
  --class-action-bg-color: var(--white);
  --class-card-box-shadow: var(--black-opacity-5);
  --has-course-linear-first-half: var(--black-with-rgb);
  --has-course-linear-second-half: var(--black-200);
  --information-text-color: var(--white);
  /** coursemap view **/
  --unit-bg: var(--light-white);
  --unit-header-bg-color: var(--white);
  --unit-text-color: var(--dark-400);
  --unit-lesson-panel-bg-color: var(--white);
  --unit-score-text-color: var(--white);
  --unit-no-score: var(--iron);
  --unit-border-color: var(--border-gray);
  --unit-play-icon-color: var(--dark-blue);
  --unit-collection-score: var(--border-gray);
  --unit-header-box-shadow: var(--black-opacity-3);
  --unit-timespent-score-color: var(--tundora);
  --unit-panel-box-shadow: var(--black-opacity-5);
  --lesson-panel-box-shadow: var(--black-opacity-2);
  --coursemap-background-color: var(--light-white);
  --coursemap-no-course-bg-color: var(--white);
  --coursemap-skeleton-bg-color: var(--white);
  --coursemap-box-shadow: var(--black-opacity-3);
  --coursemap-border-color: var(--light-white);
  /** course map report  */
  --coursemap-report-header-box-shadow: var(--black-opacity-3);
  --coursemap-report-header-title-color: var(--dark-400);
  --coursemap-report-header-subtitle-color: var(--dark-400);
  --coursemap-report-background-color: var(--light-white);
  --coursemap-summary-report-text-color: var(--white);
  --performance-activity-bg-color: var(--hint-of-red);
  /* email verification */
  --email-verify-btn-bg-color: var(--green);
  --email-verify-header-color: var(--outer-space);
  /** ellipsis text popover  */
  --popover-bgcolor: var(--iron);
  --popover-text: var(--dark-400);
  /** milestone rescope content  */
  --rescope-toggle-row-bgcolor: var(--dark-400);
  --rescope-toggle-text: var(--white);
  --rescoped-content-bgcolor: var(--dark-gray);
  /** class-home page content  */
  --class-nav-bgcolor: var(--cornflower-blue);
  /** class-competency-panel content  */
  --competency-count: var(--cello);
  --progress-bar-bgcolor: var(--gainsboro);
  --progress-bar-color: var(--picton-blue);
  /** class-activities-panel content  */
  --class-activity-icon: var(--cornflower-blue);
  --class-activities-title: var(--cello);
  --class-activity-performance: var(--white);
  /** class-journey-panel content  */
  --class-journey-icon: var(--cornflower-blue);
  --class-journey-title: var(--cello);
  --class-journey-border: var(--border-gray);
  /** guardian profile */
  --guardian-bg-color: var(--dark-400);
  --guardian-card-bg-color: var(--white);
  --guardian-accept-btn-bg-color: var(--green);
  --guardian-form-label-text: var(--white);
  --guardian-input-border-color: var(--summer-sky);
  --guardian-input-label-color: var(--blue-400);
  --guardian-select-color: var(--dark-400);
  --guardian-accept-btn-color: var(--green);
  --guardian-accept-btn-text-color: var(--white);
  --guardian-request-header-text: var(--dark-400);
  --guardian-request-header-text-color: var(--white);
  --guardian-request-access-header-boxshadow: var(--black-opacity-2);
  --guardian-request-access-header-background: var(--dark-blue);
  /** guardian profile */
  --resource-play-button: var(--dodger-reblue);
  --resource-play-button-text: var(--white);
  --guardian-bg-color: var(--dark-400);
  --guardian-card-bg-color: var(--white);
  --guardian-accept-btn-bg-color: var(--green);
  /** map-locator-popover */
  --study-player-icon: var(--cornflower-blue);
  --play-icon-color: var(--dark-400);
  --popover-title-color: var(--dark-400);
  /** milestone rescope content  */
  --delete-button-bgcolor: var(--picton-blue);
  --delete-msg: var(--grey-suit);
  /** ca suggestion */
  --ca-suggestion-icon-color: var(--explore-orange);
  --ca-suggestion-title-color: var(--dark-400);
  --ca-suggestion-icon-active: var(--summer-sky);
  --ca-suggestion-background: var(--white);
  --ca-suggestion-notification-inactive-border: var(--limed-spruce);
  --ca-suggestion-notification-inactive-color: var(--limed-spruce);
  --ca-suggestion-text-color: var(--explore-orange);
  /** join class card */
  --join-class-card-bgcolor: var(--white);
  --join-card-bgcolor: var(--green-200);
  --join-class-card-text: var(--white);
  --code-input-text: var(--dark-400);
  --join-class-text: var(--cornflower-blue);
  /** premium classroom card */
  --premium-class-card-bgcolor: var(--white);
  --teacher-name-text: var(--summer-sky);
  --class-name-text: var(--limed-spruce);
  --card-bg-color: var(--black);
  --timespent-text: var(--green-200);
  --lesson-stat-text: var(--summer-sky);
  /** font family **/
  --sans: "Open Sans";
  --lato: "Lato";
  /* common */
  --toolbar-height: 48px;
  --toolbar-bg-color: var(--white);
  /** class progress report **/
  --calender-done-button-linear-first-half: var(--iris-blue);
  --calender-active-color: var(--lochmara);
  --calender-done-button-linear-second-half: var(--lochmara-dark);
}