<ion-header class="reset-password-header" no-border>
  <ion-toolbar>
    <ion-row class="justify-content-center">
      <ion-row class="back-button">
        <ion-back-button text="" defaultHref="login"></ion-back-button>
      </ion-row>
      <ion-row class="title-container">
        <ion-row class="justify-content-center">
          <ion-text>{{'RESET_PASSWORD' | translate}}</ion-text>
        </ion-row>
      </ion-row>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="reset-password-container">
  <ion-grid>
    <ion-row class="navigator-logo-img" *ngIf="appLogo">
      <ion-img [src]="appLogo"></ion-img>
    </ion-row>
    <ion-row>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="reset-password-form">
        <ion-row class="justify-content-center password text-align-center">
          <ion-col align-self-start size="10">
            <nav-input-password [parentForm]="resetPasswordForm" [formName]="'password'" [label]="'PASSWORD' | translate" [isRequired]="true"></nav-input-password>
            <ion-text *ngIf="submitted && validateForm.password.errors" class="danger-text">
              {{'ENTER_YOUR_TEXT' | translate}} {{'PASSWORD' | translate}}.
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="justify-content-center confirm-password text-align-center">
          <ion-col align-self-start size="10">
            <nav-input-password [parentForm]="resetPasswordForm" [formName]="'confirmPassword'" [label]="'CONFIRM_PASSWORD' | translate" [isRequired]="true"></nav-input-password>
            <ion-text *ngIf="submitted && validateForm.confirmPassword.errors" class="danger-text">
              {{'ENTER_YOUR_TEXT' | translate}} {{'CONFIRM_PASSWORD'| translate}}.
            </ion-text>
            <ion-text *ngIf="submitted && checkPassword && !validateForm.confirmPassword.errors" class="danger-text">{{'PASSWORD_NOT_MATCH' | translate}}.</ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="reset-submit-btn">
          <ion-col size="10" class="justify-content-center">
            <ion-button class="submit-btn" type="submit">{{ 'RESET_PASSWORD'| translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
