<div class="assessment-external-container">
  <ng-container *ngIf="!showScoreEntry">
    <div class="message-panel">
      <span class="message">{{'EXTERNAL_ASSESSMENT_MESSAGE_1' | translate}}</span>
      <span class="message">{{'EXTERNAL_MESSAGE_2' | translate}}</span>
      <span class="message">{{'EXTERNAL_MESSAGE_3' | translate}}</span>
    </div>
    <div class="panel-container">
      <div class="icon">
        <i class="pi pi-external-link"></i>
      </div>
      <div class="label">{{'LAUNCH_EXTERNAL_ASSESSMENT' | translate}}</div>
      <div *ngIf="collection.url" class="play" (click)="onPlay()">
        <i class="material-icons">play_arrow</i>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="showScoreEntry">
    <div class="score-entry-container">
      <div class="message-panel">
        <span class="message">{{'WELCOME_BACK' | translate}}</span>
        <span class="message">{{'ENTER_YOUR_SCORE' | translate}}</span>
      </div>
      <form [formGroup]="performanceEntryForm" (ngSubmit)="onConfirm()">
        <ion-row class="score-container">
          <ion-grid class="score-input-container">
            <nav-input-number [label]="'SCORE' | translate" [formName]="'score'" [parentForm]="performanceEntryForm" #inputNumber></nav-input-number>
            <ion-text *ngIf="isConfirmed && performanceEntryForm.controls.score.errors" class="danger-text">{{ 'INVALID_SCORE' | translate }}</ion-text>
            <ion-text class="text">{{'OUT' | translate}} {{'OF' | translate}} 100</ion-text>
          </ion-grid>
          <ion-grid class="timespent-input-container">
            <ion-row>
              <ion-label>{{'TIMESPENT' | translate}}</ion-label>
            </ion-row>
            <ion-list class="no-padding">
              <ion-row class="row">
                <div class="item">
                  <nav-input-number class="timespent-input" [formName]="'minutes'" [parentForm]="performanceEntryForm" #inputNumber></nav-input-number>
                  <ion-text class="text">M</ion-text>
                </div>
                <ion-text *ngIf="isConfirmed && performanceEntryForm.controls.minutes.errors" class="danger-text">{{ 'INVALID_MINUTES' | translate }}</ion-text>
              </ion-row>
              <ion-row class="row">
                <div class="item">
                  <nav-input-number class="timespent-input" [formName]="'seconds'" [parentForm]="performanceEntryForm" #inputNumber></nav-input-number>
                  <ion-text class="text">S</ion-text>
                </div>
                <ion-text *ngIf="isConfirmed && performanceEntryForm.controls.seconds.errors" class="danger-text">{{ 'INVALID_SECONDS' | translate }}</ion-text>
              </ion-row>
            </ion-list>
          </ion-grid>
        </ion-row>
        <div class="confirm">
          <ion-button type="submit" [disabled]="disableConfirmBtn">{{'CONFIRM'| translate}}</ion-button>
        </div>
      </form>
    </div>
  </ng-container>
</div>
